{% extends 'base.html.twig' %}

{% block title %}
    Profile | {{ company.name|title }}
{% endblock %}

{% block body %}
    <article class="grid-container">
        <div class="grid-x text-center top-margin-2em">
            <div class="cell">
                <h1>
                    <a href="{{ company.website }}" target="_blank">{{ company.name|title }}</a>
                </h1>
                <p class="lead no-bottom-margin">{{ company.tagline }}</p>
                <p class="no-bottom-margin">{{ company.phone }}</p>
                <p>{{ company.address1 }}{% if company.address2 %}, {{ company.address2 }}{% endif %}
                </p>
                <a href="{{ path('home') }}" class="button hollow">Back to Search Page</a>
            </div>
        </div>
    </article>

    <hr>

    <article class="grid-container top-margin-3em">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell medium-6">
                <p>{{ company.description|nl2br|raw }}</p>
            </div>
            <div class="cell medium-6">
                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                    <div class="orbit-wrapper">
                        <div class="orbit-controls">
                            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        </div>
                        <ul class="orbit-container align-middle">
                            <li class="is-active orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="http://www.stjohnsucccoop.org/wp-content/uploads/2018/09/Endearing-yacht-upholstery-Backyard-Plans-Free-For-custom-yacht-interior-design.jpg-Gallery.jpg" alt="detailed-upholstery">
                                    <figcaption class="orbit-caption">Detailed Boat Upholstery</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="http://rvwanderlust.com/wp-content/uploads/2014/03/Before-After-RV-Upholstery-Painting.jpg" alt="Furniture">
                                    <figcaption class="orbit-caption">Furniture Upholstery</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53707362%2F246563307534%2F1%2Foriginal.20181207-221730?w=1000&auto=compress&rect=98%2C0%2C966%2C483&s=0fc604dbaeb58f3cdbf9ad68934bfcef" alt="Gaming">
                                    <figcaption class="orbit-caption">Gaming Tables</figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-x grid-padding-x top-margin-2em bottom-margin-2em">
            <div class="cell medium-4">
                <div class="grid-container top-margin-1em">
                    <div class="grid-x grid-padding-x">
                        <div class="small-12 cell">
                            <h2>Services Offered</h2>
                            
                            {% set specialtiesArray = company.specialty1|split('|') %}
                            <ul>
                                {% for specialty in specialtiesArray %}
                                    <li>{{ specialty }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell medium-4">
                <div class="grid-container top-margin-1em">
                    <div class="grid-x grid-padding-x">
                        <div class="small-12 cell">
                            <h2>Areas Served</h2>
                            <ul>
                                <li>{{ company.county }}</li>
                                <li>{{ company.city }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell medium-4">
                <div class="grid-container top-margin-1em">
                    <div class="grid-x grid-padding-x">
                        <div class="small-12 cell">
                            <h2>Contact Form</h2>
                        </div>
                    </div>

                    <form>
                        <div class="grid-x grid-padding-x">
                            <div class="small-12 cell">
                                <label>
                                    <input type="text" placeholder="My Name">
                                </label>
                            </div>
                            <div class="small-12 cell">
                                <label>
                                    <input type="text" placeholder="My Phone">
                                </label>
                            </div>
                            <div class="small-12 cell">
                                <label>
                                    <input type="text" placeholder="My Email">
                                </label>
                            </div>
                            <div class="small-12 cell">
                                <label>
                                    <select>
                                        <option value="husker">Services Desired</option>
                                            <option value="">Furniture Reupholstery</option>
                                            <option value="">Replacement Cushions</option>
                                            <option value="">Drapery</option>
                                            <option value="">Furniture Repair</option>
                                            <option value="">Other</option>
                                    </select>
                                </label>
                            </div>
                            <div class="small-12 cell">
                                <label>
                                    <textarea placeholder="My Message to company"></textarea>
                                </label>
                            </div>
                            <div class="small-12 cell">
                                <input type="submit" class="button expanded" value="Send Message">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Reviews -->
    <article class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>Reviews</h2>
                <div class="media-object stack-for-small">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h3>Francisco Barahona</h3>
                        <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                    </div>
                </div>
                <div class="media-object stack-for-small">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h3>Francisco Barahona</h3>
                        <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
                    </div>
                </div>
                <div class="media-object stack-for-small">
                    <div class="media-object-section">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h3>Francisco Barahona</h3>
                        <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
                    </div>
                </div>
                <label>
                    <textarea placeholder="My Review"></textarea>
                </label>
                <button class="button">Submit Review</button>
            </div>
        </div>
    </article>
{% endblock %}