{% extends 'base.html.twig' %}

{% block title %}
    Profile | {{ company.name|title }}
{% endblock %}

{% if company.logo %}
    {% if 'http' in company.logo %}
        {% set companyLogo = company.logo %}
    {% else %}
        {% set companyLogo = asset('build/img/company/logo/' ~ company.logo) %}
    {% endif %}
{% else %}
    {% set companyLogo = asset('build/img/img-placeholder.png') %}
{% endif %}

{% block body %}
    <article class="grid-container">
        <div class="grid-x top-margin-2em">
            <div class="cell medium-3 bottom-margin-2em vertical-center-content">
                <img class="thumbnail large-thumbnail no-bottom-margin" src="{{ companyLogo }}">
            </div>
            <div class="cell medium-6 medium-up-left-padding-1em text-center medium-text-left">
                <h1>{{ company.name|title }}</h1>
                <p class="lead no-bottom-margin">{{ company.tagline }}</p>
                <p class="no-bottom-margin">
                    {{ company.phone|phoneNumber }}
                </p>
                <p class="no-bottom-margin">
                    {{ company.address1 }}{% if company.address2 %}, {{ company.address2 }}{% endif %}
                </p>
                <p>
                    {{ company.city }}, {{ company.state }} {{ company.zip }}
                </p>
                <a href="{{ company.website }}" target="_blank" class="button hollow">Visit Website</a>
            </div>
        </div>
    </article>

    <hr>

    <article class="grid-container top-margin-3em">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell medium-6">
                <h2 class="bottom-margin-1em">More About {{ company.name|title }}</h2>

                <p>{{ company.description|nl2br|raw }}</p>
            </div>

            {# Slider #}
            <div class="cell medium-6">
                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                    <div class="orbit-wrapper">
                        <div class="orbit-controls">
                            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        </div>
                        <ul class="orbit-container align-middle">
                            {% for caption, url in companyWorkPhotos %}
                                <li class="is-active orbit-slide">
                                    <figure class="orbit-figure">
                                        <img class="orbit-image" src="{{ url }}" alt="{{ caption }}">
                                        <figcaption class="orbit-caption">{{ caption }}</figcaption>
                                    </figure>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-x grid-padding-x top-margin-2em bottom-margin-2em">
            {# Services Offered #}
            <div class="cell medium-4 text-center">
                <h2>Services Offered</h2>

                <p>{{ company.specialty1 }}</p>
            </div>

            {# Areas Served #}
            <div class="cell medium-4 text-center">
                <h2>Areas Served</h2>
                <ul>
                    <li>{{ company.county|title }}</li>
                    <li>{{ company.city|title }}</li>
                </ul>
            </div>

            {# Business Hours #}
            <div class="cell medium-4 text-center">
                <h2>Business Hours</h2>

                <p class="no-bottom-margin">Mon - Fri: 10am - 6pm</p>
                <p class="no-bottom-margin">Saturday: 11am - 5pm</p>
                <p class="no-bottom-margin">Sunday: Closed</p>
            </div>

            {# Get in touch form #}
            <div class="cell">
                <div class="grid-container top-margin-1em form-container">
                    <div class="grid-x grid-padding-x">
                        <div class="small-12 cell">
                            <h2>Contact {{ company.name|title }}</h2>
                        </div>
                    </div>

                    <form id="customerForm" data-abide novalidate>
                        <div class="grid-x grid-padding-x">
                            <div class="cell">
                                <div id="customerFormAlert" class="callout primary hide"></div>
                            </div>
                            <div class="small-12 medium-6 large-3 cell">
                                <label>
                                    <input id="name" name="name" type="text" placeholder="Name" aria-errormessage="nameErrorField" required>
                                    <span class="form-error" id="nameErrorField">
                                        Please fill your name out.
                                    </span>
                                </label>
                            </div>
                            <div class="small-12 medium-6 large-3 cell">
                                <label>
                                    <input id="phone" name="phone" type="text" placeholder="Phone" aria-errormessage="phoneErrorField" required>
                                    <span class="form-error" id="phoneErrorField">
                                        Please fill your phone out.
                                    </span>
                                </label>
                            </div>
                            <div class="small-12 medium-6 large-3 cell">
                                <label>
                                    <input id="email" name="email" type="email" placeholder="Email" aria-errormessage="EmailErrorField" pattern="email" required>
                                    <span class="form-error" id="EmailErrorField">
                                        Please fill your email out. This need to be a valid email address.
                                    </span>
                                </label>
                            </div>
                            <div class="small-12 medium-6 large-3 cell">
                                <label>
                                    <select id="servicesDesired" name="servicesDesired" aria-errormessage="serviceDesiredErrorField" required>
                                        <option value="">Services Desired</option>
                                        <option value="Furniture Reupholstery">Furniture Reupholstery</option>
                                        <option value="Replacement Cushions">Replacement Cushions</option>
                                        <option value="Drapery">Drapery</option>
                                        <option value="Furniture Repair">Furniture Repair</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span class="form-error" id="serviceDesiredErrorField">
                                        Please select the service you're looking for.
                                    </span>
                                </label>
                            </div>
                            <div class="small-12 cell">
                                <label>
                                    <textarea id="message" name="message" placeholder="Message"></textarea>
                                </label>
                            </div>
                            <div class="small-12 medium-3 cell">
                                <input type="submit" class="button expanded" value="Send Message">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Reviews -->
    <!-- 
    <article class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>Reviews</h2>
                <div class="media-object stack-for-small">
                    <div class="media-object-section text-center">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h3>Francisco Barahona</h3>
                        <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                    </div>
                </div>
                <div class="media-object stack-for-small">
                    <div class="media-object-section text-center">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h3>Francisco Barahona</h3>
                        <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
                    </div>
                </div>
                <div class="media-object stack-for-small">
                    <div class="media-object-section text-center">
                        <img class="thumbnail" src="https://placehold.it/100x100">
                    </div>
                    <div class="media-object-section">
                        <h3>Francisco Barahona</h3>
                        <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
                    </div>
                </div>
                <label>
                    <textarea placeholder="My Review"></textarea>
                </label>
                <button class="button">Submit Review</button>
            </div>
        </div>
    </article>
     -->
{% endblock %}